@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.wrapper {
    font-family: 'Lato', sans-serif;
}

.main-header {
    width: 100%;
}

.header-shipping {
    width: 100%;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 22.5px;
    background: #5c5c5c;
    opacity: .9;
    padding-top: 6px;
    padding-bottom: 6px;
}

.header-tools-wrapper {
    height: auto;
    padding: 0 30px;
    background: #f2f2f2;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.aligned-left {
    width: 100%;
    /*background: green;*/
    display: flex;
    align-items: center;
}

.navigation-toggle {
    width: 18px;
    height: 12px;
    /*background: yellow;*/
    font-size: 18px;
    position: relative;
}

.bar {
    position: absolute;
    border-top: 2px solid;
    border-color: #242424;
    width: 18px;
}

.bar-mid {
    top: 5px;
}

.bar-lower {
    top: 10px;
}

.customer-links {
    color: #222;
    display: none;
}

.mini-cart-wrapper {
    background: #fff;
}

.cart-count {
    /*background: pink;*/
    padding: 14px 20px;
    color: #222;
    text-align: center;
}

.checkout-link {
    /*background: black;*/
    padding: 14px 20px;
    color: #222;
    text-align: center;
    display: none;
}

.branding {
    height: auto;
    padding: 22px 30px 15px 30px;
    /*background: blue;*/
}

.logoimg {
    width: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.branding-search-form-container {
    display: none;
    position: relative;
    float: right;
    /*background: yellow;*/
}

.search-form {
    float: right;
    margin: 0;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 30px 10px 12px;
}

.search-form:focus {
    outline: 1px solid #dd5900;
}

.fa-search {
    position: absolute;
    top: 10px;
    left: 162px;
    color: #5c5c5c;
}

.navigation-wrapper {
    display: none;
}

.navigation-list-shoes {
    padding: 21px;
    position: relative;
    /*background: green;*/
}

.navigation-list-shoes-dropdown {
    font-size: 18px;
}

.fa-chevron-down {
    position: relative;
    bottom: 4px;
    left: 5px;
}

.dropdown {
    display: none;
    padding-top: 15px;
    padding-bottom: 14px;
    position: absolute;
    top: 59px;
    left: 0px;
    width: 200px;
    border-top: 1px solid #e4e4e4;
    background: #fff;
}

.dropdown li {
    display: block;
    padding: 1px 25px;
    line-height: 1.6em;
    letter-spacing: 0;
    font-size: 14px;
    background: white;
}

.dropdown li:hover {
    color: #a7b7b7;
    ;
}

.block-border {
    display: none;
    height: 7px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    right: 0px;
    z-index: 2000;
    background: white;
}

.navigation-list-shoes:hover {
    cursor: pointer;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
}

.navigation-list-shoes:hover .dropdown {
    display: block;
}

.navigation-list-shoes:hover .block-border {
    display: inline-block;
    position: aboslute;
}

.navigation-wrapper-placeholder {
    display: none;
}

.home-slideshow {
    width: 100%;
}

.slideshow-slide {
    width: 100%;
    object-fit: contain;
}

.main-content {
    margin: 55px 15px 0 15px;
    background: red;
}

.product-list-item {
    margin-right: 15px;
    margin-left: 15px;
    background: blue;
}

.product-list-item-thumbnail {
    width: 100%;
    object-fit: contain;
}

.product-list-item-detail {
    height: 117px;
    margin-top: 18px;
    background: yellow;
}

.product-list-item-title {
    text-align: center;
    font-size: 15px;
}

.product-list-item-price {
    margin-top: 5px;
    text-align: center;
    color: #5c5c5c;
    font-size: 14px;
    /*line-height: 1.625;*/
    line-height: 2;
}

.product-list-item-reviews {
    text-align: center;
    font-size: .6em;
    color: #5c5c5c;
    line-height: 1;
}

.fa-star {
    position: relative;
    bottom: 2px;
}

.review-quantity {
    font-size: 14px;
}

.main-footer {
    width: 100%;
    height: 40px;
    background: yellow;
}

@media (min-width: 1020px) {
    .mini-cart-wrapper {
        display: flex;
    }
    .checkout-link {
        display: inline-block;
    }
    .navigation-toggle {
        display: none;
    }
    .aligned-right {
        display: flex;
    }
    .customer-links {
        display: block;
        padding: 14px 20px;
    }
    .branding-search-form-container {
        display: block;
    }
    .navigation-wrapper {
        height: auto;
        width: 100%;
        display: block;
        display: flex;
        justify-content: center;
        background: white;
    }
    .navigation-wrapper-placeholder {
        display: block;
    }
    .navigation-list {
        width: 500px;
        color: #7D7D7D;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        font-size: 8px;
        -webkit-font-smoothing: antialiased;
        /*background: yellow;*/
    }
    .navigation-list-home {
        font-size: 18px;
    }
    .navigation-list-coming {
        font-size: 18px;
    }
    .navigation-list-about {
        font-size: 18px;
    }
}

@media (min-width: 540px) {
    .main-content {
        /*display: flex;
        justify-content: space-between;*/
    }
    .product-list-item {
        float: left;
        max-width: 50%;
    }
}


/*@media (max-width: 770px) {
    .rows-of-4 {
        width: 50%;
    }
}

@media (max-width: 1020px) {
    .rows-of-4 {
        width: 33.333%;
    }
}

.rows-of-4 .product-list-item {
    width: 25%;
}*/